.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 60px;
  padding: 40px;
}

.food-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
}

.cart-container{
  background-color: #f1f3f5;
  border-radius: 8px;
  padding: 20px;
  max-height: 600px;
}

@media (max-width: 576px) {
  .shop-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .food-container {
    grid-template-columns: 1fr;
  }

  .cart-container{
    grid-row: 1/2;
  }

  .food{
    height: 400px;
  }

  .food img{
    width: 70%;
  }
}
@media (max-width: 450px){
  .food{
    height: 340px;
  }
  .food img{
    height: 180px;
  }
}