.cart-details {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-details img {
  width: 60px;
  border-radius: 50%;
}


.btn-delete {
  border: none;
  background-color: #f1f3f5;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}
